// Global styles
// -------------

@mixin app-core($typgraphy-config) {
    @include app-base();
    @include app-base-typography($typgraphy-config);
}

@mixin app-base(){

    body {
        margin:0;
        padding:0;
        padding-top:$navbar-height;
    }
    :focus {
        outline:none !important;
        -webkit-tap-highlight-color:transparent;
    }
    .container {
        width:85%;
        margin:auto;
        margin-top:4rem;
    }
    section {
        padding:$padding-xl;
        margin-bottom:2rem;
    }
    a {
        text-decoration:none;

        &:hover {
            text-decoration:underline;
        }
    }
    la-svg-icon {
        width:24px;
        height:24px;
    }
}

@mixin app-base-typography($typgraphy-config){

}

@mixin app-core-theme($theme) {

    $background:map-get($theme, background);
    $primary:map-get($theme, primary);
    $accent:map-get($theme, accent);
    $warn:map-get($theme, warn);

    section {
        background-color:mat-color($background, card);
    }

    h1, h2, h3, h4, h5, h6 {
        &.mat-primary { color:mat-color($primary) }
        &.mat-accent { color:mat-color($accent) }
        &.mat-warn { color:mat-color($warn) }
    }

}


// App components theme
// --------------------

@mixin app-theme($theme) {
    @include app-core-theme($theme);
    @include navbar-theme($theme);
    @include activity-indicator-theme($theme);
    @include snackbar-theme($theme);
}
