// Define custom variables
// -----------------------

// Breakpoints
$mat-xs:600px;
$mat-sm:960px;
$mat-md:1280px;
$mat-lg:1920px;
$mat-xl:5000px;

// Override include-media $breakpoints variable
$breakpoints:(
    'xs': $mat-xs,
    'sm': $mat-sm,
    'md': $mat-md,
    'lg': $mat-lg,
    'xl': $mat-xl
);

@import "~include-media/dist/_include-media.scss";

// Navbar
$navbar-height:5rem;

// Spacing
$padding-s:.2rem;
$padding-m:.5rem;
$padding-l:1rem;
$padding-xl:2rem;
$padding-default:$padding-l;

// Fonts
$body-fonts:'Raleway, Roboto, Lato, "Open Sans", "Helvetica Neue", Arial, sans-serif';
$title-fonts:'"Concert One", #{$body-fonts}';

// Images
$imageRatio:9 / 16 * 100%;
