@import '_variables.scss';


:host {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:10;
    overflow:visible;
}

.brand-logo {
    margin-right:1rem;
    display:flex;
    align-items:center;
    height:100%;
    img {
        height:2rem;
    }
}

nav {
    z-index:1;
    margin-left:1rem;
    ul {
        list-style:none;
        li {
            display:inline-block;
            padding:1rem;
            a {
                width:100%;
                height:100%;
                display:block;
                font-weight:600;
            }
        }
    }
}

.hamburger {
    z-index:2;
    &-inner {
        transition-duration:.25s;
        transition-timing-function:cubic-bezier(0.805, 0.040, 0.270, 0.900);
        width:32px;
        &:before, &:after {
            width:32px;
        }
    }
}

@include media('>xs') {
    .hamburger {
        display:none;
    }
}

@include media('<=xs') {
    .brand-logo {
        display:none;
    }
    nav {
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        margin:0;
        position:fixed;
        transform:translateY(100%);
        transition:transform 250ms;
        ul {
            list-style:none;
            text-align:center;
            padding:0;

            li {
                display:block;
                padding:1rem;
            }
        }
        &.is-opened {
            transform:translateY(0);
        }
    }
}
