<mat-toolbar>
    <div class="brand-logo">
        <img src="/assets/liveaction-logo.png">
    </div>
    <button class="hamburger" type="button" aria-label="Menu" aria-controls="navigation">
        <span class="hamburger-box hamburger--squeeze" [ngClass]="{'is-active':menuOpened}" (click)="toggleMenu()">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <nav aria-label="root" [ngClass]="{'is-opened':menuOpened}" id="navigation">
        <ul>
            <li>
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }" routerLink="/"
                   class="no-visited-decoration">Home</a>
            </li>
            <li>
                <a class="no-visited-decoration">Foo</a>
            </li>
            <li>
                <a class="no-visited-decoration">Bar</a>
            </li>
            <li>
                <a class="no-visited-decoration">Baz</a>
            </li>
        </ul>
    </nav>
    <la-activity-indicator></la-activity-indicator>
</mat-toolbar>


